<!DOCTYPE html>
<html>
<head>


</head>
<body>

<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Latutude</th>
        <th>Longitude</th>
        <th>Website</th>
    </tr>
    <% users.forEach( function( user ){ %>
    <tr>

        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.address.city %></td>
        <td><%= user.address.zipcode %></td>
        <td><%= user.address.geo.lat %></td>
        <td><%= user.address.geo.lng %></td>
        <td><%= user.website %></td>
    </tr>
    <% }); %>
</table>
</body>
</html>
